################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DyplomUFO/FileContentIndex/2329061b-2866-4d4e-8b6f-544d64033045.vsidx
/Dyplom WSB - UFO/.vs/Dyplom WSB - UFO/FileContentIndex/a7e72167-f0a2-4825-ae1c-3cfb1c110641.vsidx
/Dyplom WSB - UFO/.vs/Dyplom WSB - UFO/FileContentIndex/2c92be6a-346e-4771-bfbb-e040813a717f.vsidx
/Dyplom WSB - UFO/.vs/Dyplom WSB - UFO/v17/.suo
